<mat-card>
  <mat-card-title>Links & References</mat-card-title>
  <ul>
    <li>
      <a href="Localizing Your App">
        Dynamic Params
      </a>
    </li>
    <li>
      <a href="https://github.com/ngx-translate/core">
        ngx-translate/core
      </a>
    </li>
    <li>
      <a href="https://github.com/ngx-translate/core/issues/495#issuecomment-291158036">
        Why ngx-translate/core exists?
      </a>
    </li>
    <li>
      <a href="https://stackoverflow.com/questions/57717376/angular-localization-in-to-multiple-languages">
        Localizing to Multiple Languages
      </a>
    </li>
  </ul>
</mat-card>
