<mat-card>
  <mat-card-title>Customers</mat-card-title>
  <mat-list #customers>
    <mat-list-item *ngFor="let customer of customers$ | async; let i=index">
      <p *ngIf="!isEdit">
        <span> {{i+1}}. {{customer.name}} </span>
        <span>
          <button mat-icon-button>
            <mat-icon (click)="delete(customer)">delete</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon (click)="showEdit(customer)">edit</mat-icon>
          </button>
        </span>
      </p>
      <p *ngIf="isEdit && selectedCustomer === customer.id">
        <mat-form-field style="width: 200px;">
          <mat-label>Customer Name</mat-label>
          <input matInput type="text" [(ngModel)]="updatedName">
        </mat-form-field>
        <button mat-icon-button>
          <mat-icon (click)="edit(customer)">check</mat-icon>
        </button>
      </p>
    </mat-list-item>
  </mat-list>
</mat-card>
