<mat-card>
  <mat-card-title>Links & References</mat-card-title>
  <ul>
    <li>
      <a href="https://medium.com/@kevalpatel2106/what-is-reactive-programming-da37c1611382#f4b5">
        What is Reactive Programming?
      </a>
    </li>
    <li>
      <a href="http://reactivex.io/documentation/observable.html">
        ReactiveX Documentation
      </a>
    </li>
    <li>
      <a href="https://www.learnrxjs.io/learn-rxjs/operators">
        Learn RxJS
      </a>
    </li>
    <li>
      <a href="https://rxmarbles.com/">
        Rx Marbles
      </a>
    </li>
    <li>
      <a href="https://medium.com/javascript-everyday/javascript-theory-promise-vs-observable-d3087bc1239a#:~:text=a%20Promise%20is%20always%20asynchronous,get%20a%20new%20tailored%20stream.">
        Difference between Promise and Observable
      </a>
    </li>
  </ul>
</mat-card>
