<mat-card>
  <mat-card-title>Links & References</mat-card-title>
  <ul>
    <li>
      <a href="https://angular.io/guide/testing">
        Angular Testing
      </a>
    </li>
    <li>
      <a href="https://medium.com/@shashankvivek.7/say-hi-to-jasmine-karma-in-angular-intro-d728d669a1c7">
        Jasmine & Karma Introduction
      </a>
    </li>
    <li>
      <a href="https://medium.com/@shashankvivek.7/testing-basic-html-elements-using-karma-jasmine-in-angular-fd5e4ac62d78">
        Testing Basic HTML Elements using Karma-Jasmine
      </a>
    </li>
  </ul>
</mat-card>
