<mat-card>
  <mat-card-title>Links & References</mat-card-title>
  <ul>
    <li>
      <a href="https://filipows.github.io/angular-animations/dynamic-params">Dynamic Params</a>
    </li>
    <li>
      <a href="https://medium.com/javascript-in-plain-english/angular-animation-callbacks-and-key-frames-2d415d657b9d">
        Animation Callbacks & Keyframes</a>
    </li>
    <li>
      <a href="https://stackblitz.com/angular/lbvyjabxgbm">
        Angular Animations - Examples</a>
    </li>
    <li>
      <a href="https://www.w3schools.com/css/css3_animations.asp">
        CSS3 Animations</a>
    </li>
  </ul>
</mat-card>
