<mat-card>
  <mat-card-title>Links & References</mat-card-title>
  <ul>
    <li>
      <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">
        A Guide to Flexbox
      </a>
    </li>
    <li>
      <a href="https://www.freecodecamp.org/news/flexbox-the-ultimate-css-flex-cheatsheet/">
        Flex Cheatsheet
      </a>
    </li>
    <li>
      <a href="https://stackblitz.com/edit/flexbox-examples?file=index.js">
        Flexbox Examples</a>
    </li>
    <li>
      <a href="https://the-echoplex.net/flexyboxes/?fixed-height=on&display=inline-flex&flex-direction=column&flex-wrap=nowrap&justify-content=flex-start&align-items=flex-start&align-content=stretch&order%5B%5D=0&flex-grow%5B%5D=0&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto&order%5B%5D=0&flex-grow%5B%5D=0&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto&order%5B%5D=0&flex-grow%5B%5D=0&flex-shrink%5B%5D=1&flex-basis%5B%5D=auto&align-self%5B%5D=auto">
        Flexy Boxes</a>
    </li>
    <li>
      <a href="http://flexboxfroggy.com/">
        Flexy Froggy</a>
    </li>
  </ul>
</mat-card>
